<p>Thanks for stopping by.</p>
<table>
 <tr>
	 <td>%{dot}</td>
	 <td>I've included this green dot from a separate html fragment.</td>
</tr>
</table>
<p>Powered by <a target="_blank" href="https://gitlab.com/jeremysarchet/placeholder">Placeholder</a></p>
