<ul>
	<li> <a href="%{root}/%{postfix}">Home</a></li>
	<li> <a href="%{root}/artworks/%{postfix}">Artworks</a></li>
	<li> <a href="%{root}/blog/%{postfix}">Blog</a></li>
	<li> <a href="%{root}/about/%{postfix}">About</a></li>
	<li> <a href="%{root}/contact/%{postfix}">Contact</a></li>
</ul>
