---
title: Home
---

<p>
	Hello! Welcome to my website.
</p>
<p>
	This is the home page.
</p>
<p>
	I can include content from other html files in this page, or anywhere I like.
</p>
%{level-1}
<p>
	That's all I have to say here on my home page.
</p>
